/* 全体共通 */
body {
  font-family: "Noto Sans JP", serif;
  background-color: #181619;
}

/* ヘッダー */
header {
  color: #ffff;
}

header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px 0;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 50px;
}

header nav ul li a {
  transition: 0.3s;
}

header nav ul li a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

@media only screen and (max-width: 960px) {
  header .row {
    display: block;
  }
  header nav ul {
    justify-content: space-between;
    margin-top: 20px;
  }
  header nav ul li {
    margin-left: 0px;
  }
}

/* メインビジュアル */
.main-visual {
  background-image: url(../images/mv.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;
}
.main-visual .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  height: 640px;
  position: relative;
}

.main-visual .title {
  position: absolute;
  bottom: 100px;
  left: 0;
  z-index: 2;
}

.main-visual h1 {
  font-size: 70px;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 20px;
}

.main-visual p {
  font-size: 24px;
  font-weight: 700;
  color: #ffff;
}

.main-visual .purple {
  background-color: #6f19a7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  mix-blend-mode: multiply;
}

@media only screen and (max-width: 960px) {
  .main-visual h1 {
    font-size: 52px;
  }

  .main-visual .container {
    height: 540px;
  }
}

/* セクション１ */
.section1 {
  color: #ffff;
  padding: 80px 0;
}

.section1 .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.section1 .row {
  display: flex;
  justify-content: space-between;
}

.section1 .col {
  width: 48%;
}

.section1 .sub-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.section1 h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.6;
}

.section1 .text {
  font-weight: 18px;
  line-height: 1.8;
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn {
  font-size: 18px;
  border: solid 1px #ffff;
  border-radius: 100px;
  display: inline-block;
  width: 270px;
  line-height: 60px;
  text-align: center;
  transition: 0.3s;
}

.btn:hover {
  color: #60188f;
  border: solid 1px #60188f;
  transition: 0.3s;
}

@media only screen and (max-width: 960px) {
  .section1 .row {
    flex-wrap: wrap;
  }

  .section1 .col {
    width: 100%;
  }

  .section1 h2 {
    font-size: 24px;
  }

  .section1 .text {
    font-weight: 15px;
    line-height: 1.6;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

/* セクション２ */
.section2 {
  color: #ffff;
  padding: 80px 0;
}

.section2 .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.section2 .sub-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.section2 h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 60px;
}

.section2 .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.section2 .col {
  width: 31%;
  position: relative;
}

.section2 img {
  border-radius: 20px;
}

.section2 h3 {
  background-color: #60188f;
  display: inline-block;
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  border-radius: 10px;
}

.section2 .center {
  text-align: center;
}

@media only screen and (max-width: 960px) {
  .section2 .row {
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .section2 .col {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* セクション３ */
.section3 {
  color: #ffff;
  padding: 80px 0;
}

.section3 .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.section3 .sub-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

.section3 h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section3 .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section3 .col {
  width: 48%;
}

.section3 .text {
  line-height: 1.8;
  margin-bottom: 50px;
}

.section3 img {
  border-radius: 20px;
}

@media only screen and (max-width: 960px) {
  .section3 .row {
    flex-wrap: wrap;
  }

  .section3 .col {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* footer */
footer {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}

footer .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  border-top: solid 1px #d4a5f4;
  padding: 50px 0 20px;
}

footer .logo {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 40px;
}

footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

footer li {
  font-size: 15px;
  margin: 0 20px;
}

footer ul li a {
  transition: 0.3s;
}

footer ul li a:hover {
  transition: 0.3s;
  opacity: 0.6;
}

/* 下層ページ共通 */
.page-main-visual {
  background-image: url(../images/mv.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;
}
.page-main-visual .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  height: 300px;
  position: relative;
}

.page-main-visual .title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.page-main-visual h1 {
  font-size: 40px;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 10px;
}

.page-main-visual p {
  font-size: 20px;
  font-weight: 500;
  color: #ffff;
}

.page-main-visual .purple {
  background-color: #6f19a7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  mix-blend-mode: multiply;
}

@media only screen and (max-width: 960px) {
  .page-main-visual .title {
    width: 100%;
  }
}


/* 会社概要セクション１ */
.company-section1 {
  color: #ffff;
  padding: 80px 0;
}

.company-section1 .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.company-section1 .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-section1 .col {
  width: 48%;
}

.company-section1 img {
  border-radius: 20px;
}

.company-section1 table {
  width: 100%;
}

.company-section1 table tr {
  padding: 20px 0;
  display: block;
  border-bottom: solid #ffffff;
  line-height: 1.5;
}

.company-section1 table tr th {
  width: 150px;
}

@media only screen and (max-width: 960px) {
  .company-section1 .row {
    flex-wrap: wrap;
  }

  .company-section1 .col {
    width: 100%;
    margin-bottom: 30px;
  }

  .company-section1 table tr th {
    width: 90px;
  }
}

/* 事業内容セクション１ */

.service-section1 {
  color: #ffff;
  padding: 80px 0;
}

.service-section1 .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.service-section1 .sub-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

.service-section1 h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.service-section1 .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.service-section1 .col {
  width: 48%;
}

.service-section1 .text {
  line-height: 1.8;
  margin-bottom: 50px;
}

.service-section1 img {
  border-radius: 20px;
}

@media only screen and (max-width: 960px) {
  .service-section1 .row {
    flex-wrap: wrap;
  }

  .service-section1 .col {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* お問い合わせセクション１ */

.contact-section1 {
  color: #ffff;
  padding: 80px 0;
}

.contact-section1 {
  -section1 .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}
